Package: enigma2-plugin-extensions-svdrp
Version: 20110227-r10
Description: basic remote control server using svdrp
Architecture: sh4
Section: extra
Priority: optional
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, python-twisted-protocols
Source: http://www.ritzmo.de
