Package: enigma2-plugin-extensions-simplerss
Version: 20071007
Description: rss viewer for the enigma2 gui
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Depends: enigma2, python-twisted-web, python-codecs, python-xml, python-html, enigma2-plugin-extensions-mediadownloader
