Package: enigma2-plugin-extensions-quickepg
Version: 2.0-r1
Description: Download and import EPG for exUSSR channels
Section: base
Priority: optional
Maintainer: dillinger <dillinger@linux-sat.tv>
Architecture: sh4
OE: enigma2-plugin-extensions-quickepg
Homepage: http://linux-sat.tv
Depends:
