Package: enigma2-plugin-systemplugins-mphelp
Version: 20110628-r10
Description: reusable help component
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, python-xml
