Package: enigma2-plugin-extensions-emission
Version: 1.0-20110929-r0
Description: basic frontend to the transmission bittorrent client
Architecture: sh4
Section: extra
Priority: optional
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends:
Source: http://www.ritzmo.de
