Package: enigma2-plugin-extensions-emission
Version: 20110929
Description: basic frontend to the transmission bittorrent client
Architecture: sh4
Section: extra
Priority: optional
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2, python-transmissionrpc
Source: http://www.ritzmo.de
