Package: enigma2-plugin-extensions-pipzap
Version: 20110611-r10
Description: allows to zap using the picture in picture
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, enigma2-plugin-systemplugins-mphelp
