Package: enigma2-plugin-systemplugins-networkbrowser
Version: 2.2-20080529
Description: Networkbrowser and Network-Mountmanager
Maintainer: Mladen Horvat <acid-burn@opendreambox.org>
Homepage: http://www.dream-multimedia-tv.de/
Depends:
