Package: enigma2-plugin-extensions-dreamirc
Version: 20090406
Description: simple IRC GroupChat client for e2 -> #dm8000-vip edt
Maintainer: OpenPLi team <forum@openpli.org>
Homepage: http://www.openpli.org
Depends: enigma2
