Package: enigma2-plugin-extensions-cdinfo
Version: 20080727
Description: read audio CD-Text or query CDDB for album and track info
Maintainer: OpenPLi team <forum@openpli.org>
Depends: enigma2, libcddb, libcdio
