Package: enigma2-plugin-systemplugins-autoresolution
Version: 20110610
Description: Automatically change resolution 
Maintainer: domino <dom.nehls@web.de>
Depends: enigma2, enigma2-plugin-systemplugins-videomode
