Package: enigma2-plugin-extensions-netcaster
Version: 20072203
Description: Player for Network and Internet Streams
Maintainer: 3c5x9 <3c5x9@gmx.net>
Homepage: http://enigma2-plugins.schwerkraft.elitedvb.net/
Depends: enigma2
