Package: enigma2-plugin-extensions-growlee
Version: 20091001-r10
Description: redirect notifications to growl
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, python-twisted-protocols, python-netclient, python-crypt, python-re, python-threading, python-lang
