Package: enigma2-plugin-extensions-subsdownloader
Version: 0.28.6-20120119
Description: Subtitle Downloader
Section: extra
Priority: optional
Maintainer: Silelis
Architecture: mipsel
OE: enigma2-plugins-2.6cvs20090103
Homepage: http://code.google.com/p/subs-downloader/
Depends:enigma2-plugin-extensions-pictureplayer, enigma2-plugin-extensions-dvdplayer
Source: http://code.google.com/p/subs-downloader/
