Package: enigma2-plugin-extensions-movietagger
Version: 20110707
Description: Add tags to recorded movies, to sort a large list of movies
Maintainer: OpenPLi team <forum@openpli.org>
Depends: enigma2
