Package: enigma2-plugin-extensions-menusort
Version: 20110628-r10
Description: allows to reorder entries of the main menu
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2, python-shell, python-xml, python-codecs, python-lang
