Package: enigma2-plugin-extensions-epgsearch
Version: 20141213
Description: search the epg and list results
Maintainer: Moritz Venn <moritz.venn@freaque.net>
Homepage: http://www.ritzmo.de
Depends: enigma2
