Package: enigma2-plugin-systemplugins-startupservice
Version: 1.1
Description: set startup service
Maintainer: Dr. Best <dr.best@dreambox-tools.info>
Homepage: OpenPLi team <forum@openpli.org>
Depends: enigma2
