Package: enigma2-plugin-extensions-ofdb
Version: 20080502-r10
Description: query movie details from the Online Film Datenbank
Maintainer: fraxinas <andreas.frisch@multimedia-labs.de>
Depends: enigma2, python-html, python-twisted-web
