Package: enigma2-plugin-extensions-ofdb
Version: 20080502
Description: query movie details from the Online Film Datenbank
Maintainer: OpenPLi team <forum@openpli.org>
Depends: enigma2, python-html, python-twisted-web
